.child-check-active {
  display: block;
}

.child-check-hidden {
  position: absolute;
  display: none;
}

/* Customize the label (the container) */
.container {
  cursor: pointer;
}

/* On mouse-over, add a grey background color */
.container:hover {
  background-color: #ccc;
}

.fieldset {
  width: 50%;
}
